li.content-list-item
    a(href=`./gl/${Num}`)
        img(src=`./gl/${Num}/gl${Num}-thumbnail.png`, alt=`gl${Num}`)
        .content-list-item-description
            h2.content-list-item-description-title #{Title}