li.content-list-item
    if ext
        a(href=`./gl/${Num}`).content-list-item-link.ext
            img(src=`./gl/${Num}/gl${Num}-thumbnail.png`, alt=`gl${Num}`)
            .content-list-item-description
                h2.content-list-item-description-title #{Title}
            .content-list-item-worning
                .content-list-item-worning-text お使いの端末では動作しません。
    else
        a(href=`./gl/${Num}`).content-list-item-link
            img(src=`./gl/${Num}/gl${Num}-thumbnail.png`, alt=`gl${Num}`)
            .content-list-item-description
                h2.content-list-item-description-title #{Title}
            